<h1>Welcome To Creighton Travel</h1>
<p>Adventure, Fun, and Awesomeness Await!</p>

<h1><%= @homestate %></h1>

<ul>
<% @countries.each do |country| %>
	<li><%= country %></li>
<% end %>	
</ul>




<ul>
	<% @images.each do |image| %>
		<li><%= image_tag image, class: "img-responsive" %></li>
	<% end %>
</ul>		


<%= link_to "About", about_path %>